form {

  #main_content > &.alchemy {
    max-width: 600px;
    padding: 2*$default-padding;
    margin: 2em auto;
  }

  &.button-with-confirm {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  &.edit_page textarea {
    height: 67px;
  }

  > h2 {
    @include form-heading;
  }

  .inline-input {
    @extend .clearfix;
    margin: 0 -1*$default-margin;

    .left-column, .right-column {
      padding: 0 $default-padding;
    }

    .left-column {
      width: $form-right-width;
      float: left;
    }

    .right-column {
      width: $form-left-width;
      float: right;
    }

    button,
    .button,
    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="submit"],
    input[type="password"] {
      width: 100%;
    }
  }

  .control_group {
    width: $form-right-width;
    padding-top: 6px;
    float: right;
  }

  .foot_note, .input .hint {
    margin-left: $form-left-width;
  }

  .submit {
    padding: $default-padding 0;
    text-align: right;
  }

  .help-block {
    padding: 2*$default-padding;
  }
}

textarea#essence_picture_caption {
  height: 61px;
}

.resource_info {

  h2 {
    @include form-heading;
  }

  .value {
    overflow: hidden;
  }
}

// styles for link overlay selects
.window_form {

  .select2-container {
    width: 100%;
  }
}

.foot_note, form .input .hint {
  font-size: $font-size-small;
  padding: 2*$default-padding;
  @extend %rounded-border;
  display: block;
  clear: both;
}
