#top_menu {
  position: fixed;
  top: 0;
  margin-left: $main-menu-width;
  padding-right: $main-menu-width;
  z-index: 20;
  width: 100%;
  @extend .disable-user-select;
}

#left_menu {
  white-space: nowrap;
  z-index: 30;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: $main-menu-width;
  overflow: hidden;
  background-color: $main-menu-background-color;
  @extend .disable-user-select;
  text-align: center;

  label {
    color: $main-menu-label-color;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
  }
}

#main_navi {
  padding-bottom: 80px;

  .main_navi_entry {
    position: relative;
    overflow: hidden;

    > a {
      display: block;
      padding: 10px 0;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: $main-menu-hover-color;

      .main-nav-children {
        display: block;
      }
    }

    &.active {
      background: $main-menu-active-color;
      cursor: default;

      > a {
        padding: 10px 0 8px 0;
      }

      .icon {
        color: $green;
      }

      > a > label {
        color: $white;
        padding-bottom: 1px;
        border-bottom: 2px solid $green;
      }
    }

    &.with-children:after {
      content: '\203A';
      position: absolute;
      right: 20px;
      top: 11px;
      color: $main-menu-label-color;
      font-weight: bold;
      font-size: 15px;
    }

    img {
      border-style: none;
      height: 24px;
      width: 24px;
      display: inline-block;
      margin-bottom: 4px;
      margin-top: 2px;
    }
  }

  .main-nav-children {
    display: none;
    position: fixed;
    left: 80px;
    top: auto;
    background: $main-menu-background-color;
    min-width: 100px;
    margin: -65px 0 0 0;
    padding: 0;
    color: $white;
    list-style-type: none;
    text-align: left;
  }

  .main-nav-child {
    margin: 0;
    padding: 8px;

    &:hover {
      background: $main-menu-hover-color;
    }

    a {
      display: block;
      padding: 4px 8px;
    }

    label {
      cursor: pointer;
    }
  }
}

#overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400000;
  background-color: rgba(229, 229, 229, 0.4);

  .spinner {
    top: 50%;
    left: 50%;
  }
}

#overlay_text_box {
  color: #333333;
  font-size: 18px;
  left: 50%;
  line-height: 120px;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;

  img {
    position: relative;
    top: 9px;
  }
}

#menu_logo {
  line-height: 46px;
  background-color: darken($dark-blue, 10%);

  img {
    vertical-align: middle;
  }
}

#logout {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;

  a {
    display: block;
    padding: 12px 0;
    color: $main-menu-label-color;
    background: $main-menu-background-color;

    &:hover {
      text-decoration: none;
      background: $main-menu-hover-color;
    }
  }

  img {
    margin-bottom: 4px;
  }
}

#main_content {
  background-color: $light-gray;
  padding: 127px 16px 8px $main-menu-width+16px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#archive_all {
  padding-bottom: 60px;

  &.with_tag_filter {
    padding-right: 230px;
  }

  &.resources-table-wrapper {
    padding-top: 47px;
  }
}

#user_info {
  position: absolute;
  top: 0;
  right: $main-menu-width;
  line-height: $top-menu-height;
  font-size: 11px;
  padding: 0 8px;
  background-color: $main-menu-background-color;
  color: $main-menu-label-color;

  .select2-container {
    margin-top: -2px;
    margin-right: $default-margin;
  }

  .current-user-name {
    padding-right: $default-padding;
  }
}

#sub_navigation {
  height: $top-menu-height;
  background: $main-menu-background-color;
  color: $main-menu-label-color;
  position: relative;

  a {
    display: inline-block;
    color: inherit;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }

  .page_status_and_name {
    padding: 0 8px;
    background-color: $medium-gray;
    text-shadow: 0px 1px 1px #FFFFFF;
    @extend .disable-user-select;
    cursor: default;
    line-height: $top-menu-height;
    float: left;
    border: $default-border;
    border-bottom-style: none;
    height: $top-menu-height;
    margin-right: 1px;

    .page_name {
      position: relative;
      bottom: 2px;
    }
  }

  .page_name {
    margin-right: $default-margin;
  }

  .page_language {
    float: none;
    position: relative;
    display: inline-block;
    bottom: 3px;
    color: #3265b1;
    @extend %rounded-border;
    margin-right: 2px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }

  .subnavi_tab {
    float: left;

    &.wide {
      position: relative;

      form {
        position: absolute;
        top: 50%;
        right: $default-padding;
        margin-top: -2*$default-padding;
        line-height: 1;
      }
    }

    &:hover {
      background-color: $main-menu-hover-color;
      text-decoration: none;
    }

    &.active {
      position: relative;
      @extend .disable-user-select;
      cursor: default;
      z-index: 10;
      background-color: $main-menu-active-color;

      label {
        color: $white;
        padding-bottom: 1px;
        border-bottom: 2px solid $green;
      }
    }

    > a {
      padding: 0px 24px;
      line-height: $top-menu-height;

      label {
        cursor: pointer;
      }
    }

    .inline.icon {
      vertical-align: text-bottom;
    }

    button {
      text-shadow: none;
    }

    .icon.close {
      color: rgb(99, 116, 134);
    }
  }
}

#subnav_additions {
  overflow: hidden;

  label {
    float: left;
    font-size: 10px;
    line-height: $top-menu-height;
    margin-left: 8px;
    margin-right: 4px;
    color: $white;
  }

  img {
    float: left;
  }
}
