.icon {
  display: inline-block;
  background: image-url('alchemy/icons.png') no-repeat;
  width: $icon-size;
  height: $icon-size;
  line-height: 1;
  font-size: $icon-size;
  text-align: center;
  color: $default-icon-color;

  &.add, &.create, &.new_element, &.tag_add {
    background: none;
    @extend .fi-plus;
    color: $green;
  }

  &.add_page {
    @extend .fi-page-add;
    background: none;
    // color: $green;
  }

  &.archive {
    background-position: -416px -136px;
  }

  &.audio {
    background-position: -192px -136px;
  }

  &.back {
    background: none;
    line-height: 14px;
    font-size: 20px;
    font-weight: bold;
    color: #666;

    &:before {
      content: '\00ab';
    }
  }

  &.blank {
    background: transparent;
  }

  &.clipboard {
    @extend .fi-clipboard;
    background: none;

    &.full {
      @extend .fi-clipboard-notes;
    }
  }

  &.close {
    @extend .fi-x;
    background: none;

    &.small {
      line-height: 0;
      font-size: 12px;
    }
  }

  &.collapse.small {
    background-position: -512px -106px;
  }

  &.configure_page, &.settings {
    @extend .fi-widget;
    background: none;
  }

  &.copy_page {
    @extend .fi-page-copy;
    background: none;
  }

  &.crop {
    @extend .fi-crop;
    background: none;
  }

  &.delete_page {
    @extend .fi-page-remove;
    background: none;
    // color: $red;
  }

  &.delete-small {
    @extend .fi-minus;
    background: none;
    color: $red;
    font-size: 10px;
  }

  &.destroy, &.delete, &.tag_delete, &.file_delete {
    @extend .fi-x;
    background: none;
    color: $red;
  }

  &.edit, &.tag_edit, &.file_edit {
    @extend .fi-pencil;
    background: none;
  }

  &.element, &.clipboard_elements {
    @extend .fi-layout;
    background: none;
  }

  &.element_draft {
    @extend .fi-x;
    background: none;
    color: $red;
    font-size: 12px;
  }

  &.element_public {
    @extend .fi-check;
    background: none;
    color: $green;
    font-size: 12px;
  }

  &.element_window {
    @extend .fi-list-thumbnails;
    background: none;
  }

  &.error {
    @extend .fi-x-circle;
    background: none;
    color: $red;
  }

  &.excel {
    background-position: -353px -136px;
  }

  &.expand.small {
    background-position: -498px -106px;
  }

  &.false {
    background-image: none;
  }

  &.file {
    background-position: 0 -40px;
  }

  &.file_download, &.download {
    @extend .fi-download;
    background: none;
  }

  &.flash {
    background-position: -256px -136px;
  }

  &.flush {
    @extend .fi-asterisk;
    background: none;
  }

  &.hint {
    @extend .fi-lightbulb;
    background: none;
    color: $blue-icon;
  }

  &.image {
    background-position: -224px -136px;
  }

  &.info {
    @extend .fi-info;
    background: none;
    // color: $blue-icon;
  }

  &.link {
    @extend .fi-link;
    background: none;
  }

  &.offline {
    background-position: -255px -105px;
  }

  &.online {
    background-position: -224px -105px;
  }

  &.page, &.clipboard_pages {
    @extend .fi-page;
    background: none;
  }

  &.pdf {
    background-position: -161px -136px;
  }

  &.preview_window {
    background-position: -448px -40px;
  }

  &.psd {
    background-position: -128px -136px;
  }

  &.publish {
    @extend .fi-like;
    background: none;
  }

  &.rtf {
    background-position: -320px -136px;
  }

  &.search {
    @extend .fi-magnifying-glass;
    font-size: 16px;
    width: 16px;
    height: 16px;
    background: none;
  }

  &.select_all {
    @extend .fi-checkbox;
    background: none;
  }

  &.sort {
    @extend .fi-shuffle;
    background: none;
  }

  &.swap_picture {
    @extend .fi-loop;
    background: none;
  }

  &.sync, &.reload {
    @extend .fi-refresh;
    background: none;
  }

  &.tag, &.tag_label {
    @extend .fi-price-tag;
    background: none;
  }

  &.text {
    background-position: -448px -136px;
  }

  &.tick, &.true, &.notice, &.ok {
    @extend .fi-check;
    background: none;
    color: $green;
  }

  &.trash {
    @extend .fi-trash;
    background: none;
  }

  &.unlink {
    @extend .fi-unlink;
    background: none;
  }

  &.upload {
    @extend .fi-upload;
    background: none;
  }

  &.vcard {
    background-position: -416px -104px;
  }

  &.video {
    background-position: -288px -136px;
  }

  &.visit_page {
    @extend .fi-arrow-right;
    background: none;
  }

  &.warning, &.warn, &.alert {
    @extend .fi-alert;
    background: none;

    &.inline { vertical-align: baseline; }
  }

  &.word {
    background-position: -385px -136px;
  }

  &.zoom-equal {
    @extend .fi-magnifying-glass;
    background: none;
  }

  &.zoom-in {
    @extend .fi-zoom-in;
    background: none;
  }

  &.zoom-out {
    @extend .fi-zoom-out;
    background: none;
  }
}
