.module.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-bottom: 4px;
  color: $main-menu-icon-color;
  background-image: none;

  &.dashboard {
    @extend .fi-compass;
  }

  &.pages {
    @extend .fi-page-multiple;
  }

  &.languages {
    @extend .fi-flag;
  }

  &.library {
    @extend .fi-book;
  }

  &.sites {
    @extend .fi-target;
  }

  &.tags {
    @extend .fi-pricetag-multiple;
  }

  &.exit {
    @extend .fi-home;
  }
}
