<% entries.each do |entry| %>
  <% entry.stringify_keys! %>
  <% if can? *navigate_module(entry) %>
  <div class="subnavi_tab<%= entry_active?(entry) ? ' active' : nil %>">
    <%= link_to url_for_module_sub_navigation(entry) do %>
      <label><%= _t(entry['name']) %></label>
    <% end %>
  </div>
  <% end %>
<% end %>
